@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container {
  padding: 0 15px;
  margin: auto;
  max-width: 1540px;
}

@media (max-width: 1599px) {
  .container {
    max-width: 1370px;
  }
}

@media (max-width: 1399px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
